body {
	color: #2F3743;
	font-family: 'Avenir';
	font-weight: 400;
	background-color: #ffffff;

}

body.show-leading::before {
	content: '';
	position: absolute;
	z-index: 10000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: linear-gradient(transparent 23px, hsla(0, 0%, 80%, 1) 23px);
	background-size: 1px 24px;
}


#about {
	margin: 0 auto;
	width: 800px;
}

#about .profile {
	margin: 0 auto;
	margin-top: 120px;
	margin-bottom: 100px;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	background-image: url("../img/Stacy Kim.JPG");
	background-size: 300px
}

#about .description h4 {
	margin: 0;
	margin-bottom: 40px;
	color: #2F3743;
	font-family: 'Avenir';
	font-weight: 700;
	font-size: 30px;
	text-align: center;
}

#about .description p {
	width: 600px;
	margin: 0 auto;
	color: #2F3743;
	font-family: 'Avenir';
	font-weight: 300;
	font-size: 18px;
	line-height: 2.0rem;
	text-align: center;
}

#about .btn_resume {
	margin: 0 auto; 
	margin-top: 80px;
	width: 200px;
	height: 52px;
	background-color: #2A76FF;
	border-radius: 26px;
	color: #fff;
	font-weight: 700;
	font-size: 16px;
	line-height: 52px;
    text-align: center;
    text-decoration: none;
    display: block;
}


#about .btn_resume:hover {
    background-color: #1B63E4;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}


.blank {
	height: 120px;
}


/*contact*/

.contact {
	margin: 0 auto;
	width: 600px;
}

.contact h4{
	margin: 0;
	margin-bottom: 20px;
	color: #2F3743;
	font-family: 'Avenir';
	font-weight: 700;
	font-size: 30px;
	text-align: center;
}

.contact .form {
	margin: 0 auto;
	width: 600px;
}

input[type=text], select {
    width: 600px;
    padding: 18px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid rgba(47,55,67,0.3);
    border-radius: 10px;
    box-sizing: border-box;
    color: #2F3743;
	font-family: 'Avenir';
	font-weight: 400;
	font-size: 16px;
}

input[type=text]::placeholder {
    color: rgba(73,82,98,0.2);
	font-family: 'Avenir';
	font-weight: 400;
	font-size: 16px;
}

 textarea[type=text], select {
 	width: 600px;
 	height: 300px;
 	padding: 18px 20px;
    margin-top: 10px;
    display: inline-block;
    border: 1px solid rgba(47,55,67,0.3);
    border-radius: 10px;
    box-sizing: border-box;
    color: #2F3743;
	font-family: 'Avenir';
	font-weight: 400;
	font-size: 16px;
 }

  textarea[type=text]::placeholder {
    color: rgba(73,82,98,0.2);
	font-family: 'Avenir';
	font-weight: 400;
	font-size: 16px;
 }


input[type=submit] {
    width: 160px;
    height: 52px;
    background-color: #00E1EA;
    color: white;
/*    margin-top: 20px;*/
    font-size: 16px;
	font-family: 'Avenir';
    font-weight: 700;
    border: none;
    border-radius: 26px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #0AD4DC;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}




