body {
	color: #2F3743;
	font-family: 'Avenir';
	font-weight: 400;
	background-color: #ffffff;

}

body.show-leading::before {
	content: '';
	position: absolute;
	z-index: 10000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: linear-gradient(transparent 23px, hsla(0, 0%, 80%, 1) 23px);
	background-size: 1px 24px;
}



/* visual */
.visual {
	margin: 0 auto;
	width: 960px;
	height: 730px;
	position: relative;
}

.visual h1 {
	width: 75%;
	margin: 0px;
/*	padding-left: 10px;
*/	padding-top: 224px;
	padding-bottom: 40px;
	text-align: left;
	font-family: 'Avenir';
	font-weight: 900;
	font-size: 40px;
	letter-spacing: 0px;
	color: #2F3743;
	transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.visual p {
	margin: 0px;
/*	padding-left: 10px;
*/	text-align: left;
	font-family: 'Avenir';
	font-weight: 400;
	font-size: 24px;
	line-height: 1.5;
	letter-spacing: 0px;
	color: #2F3743;
	transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}


/* dribbble & behance */

.visual p .dribbble a {
	position: relative;
	font-weight: 700; 
	color: #FF4274;
    text-decoration: none;
}

.visual p .dribbble a::after {
	content: '';
  	position: absolute;
  	bottom: 0;
  	left: 0;
	border-bottom: 2px solid #FF4274; 
	width: 0%;
	transition: all 0.35s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.visual p .dribbble a:hover::after,
.visual p .dribbble a:focus::after,
.visual p .dribbble a:active::after {
	width: 100%;
}


.visual p .behance a {
	position: relative;
	font-weight: 700; 
	color: #2A76FF;
    text-decoration: none;
}

.visual p .behance a::after {
	content: '';
  	position: absolute;
  	bottom: 0;
  	left: 0;
	border-bottom: 2px solid #2A76FF; 
	width: 0%;
	transition: all 0.35s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.visual p .behance a:hover::after,
.visual p .behance a:focus::after,
.visual p .behance a:active::after {
	width: 100%;
}


.visual .scroll_down {
	max-width: 960px;
	width: 100vw;
}


.visual .scroll_down img {
	margin-top: 120px;
	margin: 0 auto;
	width: 50px;
	padding: 10px;
	transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1)
	-webkit-animation: fade_move_down 1.2s ease-in-out infinite;
	-moz-animation:    fade_move_down 1.2s ease-in-out infinite;
	animation:         fade_move_down 1.2s ease-in-out infinite;
}


/*.visual .scroll_down img:hover,
.visual .scroll_down img:focus,
.visual .scroll_down img:active {
	-webkit-animation: fade_move_down 1.2s ease-in-out infinite;
	-moz-animation:    fade_move_down 1.2s ease-in-out infinite;
	animation:         fade_move_down 1.2s ease-in-out infinite;
}
*/

/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-12px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,12px); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-12px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,12px); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-12px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,12px); opacity: 0; }
}


.visual .scroll img {
	display: block;
	margin-top: 120px;
	width: 50px;
	height: 50px;
	transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}



/*.visual .shade {
	position: absolute;
	width: 100%;
	height: 100vh;
	background-color: rgba(230,232,234,0.2);
}
*/



/*Container*/
.container {
	max-width: 960px;
	width: 100%;
	margin: 0 auto;
	padding-top: 150px;
	transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.container #work1, #work2, #work3, #work4{
	max-width: 960px;
	width: 100%;
	height: 500px;
	margin: 0 auto;
	margin-bottom: 80px;
	background-color: #fff;
    border-radius: 10px;
	box-shadow: rgba(47,55,67,0.15) 0px 6px 40px 0px;
	transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}

#work1:hover, #work2:hover,
#work1:focus, #work2:focus, 
#work1:active, #work2:active {
	box-shadow: rgba(47,55,67,0.2) 0px 12px 60px 0px;
	transform: translate(0,-20px);
	transition-delay: 0s !important;
}


.container #thumnail {
	width: 480px;
	height: 500px;
	background-color: #f9f9fa;
	float: left;
    border-radius: 10px 0px 0px 10px;
	transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.container #thumnail a {
	text-decoration: none;
	outline: 0;
	position: relative;
}

/*.container #thumnail a .dim{
	display: block;
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 500px;
	background-color: rgba(0,0,0,0);
	text-align: center;
	line-height: 500px;
	color: rgba(0,0,0,0);
	font-weight: 700;
	font-size: 20px;
	border-radius: 10px 0px 0px 10px;
}
*/

/*.container #thumnail a:hover .dim,
.container #thumnail a:focus .dim,
.container #thumnail a:active .dim {
	background-color: rgba(47,55,67,0.70);
	transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    color: #fff;
}*/


.container #thumnail img {
	position: relative;
	margin-top: 100px;
	width: 100%;
}


.container #description {
	margin: 0;
	width: 480px;
	height: 500px;
	float: left;
}

.container #description a {
	display: inline-block;
	text-decoration: none;
	outline: 0;
}

.container #description h3 {
	padding-right: 50px;
	padding-left: 50px;
	margin-top: 55px;
	width: 380px;
	height: 30px;
	color: #2F3743;
	font-family: 'Avenir';
	font-weight: 700;
	font-size: 30px;
	text-align: left;
    text-overflow: ellipsis; 
}

.container #description h5 {
	padding-right: 50px;
	padding-left: 50px;
	margin-bottom: 20px;
	height: 20px;
	color: #2F3743;
	opacity: 0.5;
	font-family: 'Avenir';
	font-weight: 300;
	font-size: 16px;
	text-align: left;
    text-overflow: ellipsis; 
}

.container #description p {
	padding-right: 50px;
	padding-left: 50px;
	margin-top: 0;
	margin-bottom: 30px;
	height: 225px;
	color: #2F3743;
	font-family: 'Avenir';
	font-weight: 300;
	font-size: 20px;
	text-align: left;
	line-height: 32px;
    text-overflow: ellipsis; 
}

.container #description .tag_wrap {
	position: relative;
	margin-right: 50px;
	margin-left: 50px;
}

.container #description .tag_wrap .tag {
	margin-right: 5px;
	padding: 5px 14px;
	background: #FAFAFB;
	border: 1px solid #E6E8EA;
	border-radius: 100px;
	font-weight: 300;
	font-size: 15px;
	color: #2F3743;
	letter-spacing: 0;
	text-align: center;
	line-height: 20px;
	overflow: hidden;
    text-overflow: ellipsis; 
}



/* media query */

@media screen 
  and (min-width: 320px) 
  and (max-width: 812px)  { 

	.visual {
		width: 100%;
		height: 530px;
	}

	.visual h1 {
		margin-left: 30px;
		margin-right: 30px;
		font-size: 24px;
		line-height: 1.5;
		padding-top: 130px;
	}

	.visual p {
		margin-left: 30px;
		margin-right: 30px;
		font-size: 16px;
		line-height: 1.25;
		padding-top: 30px;
	}

	.visual .scroll img {
		visibility: hidden;
	}

	.container {
		width: 100%;
		margin: 0 auto;
	}
	
	.container #work1, #work2, #work3, #work4{
		width: 100%;
		height: auto;
		margin: 10px;
	}
	
	
	.container #thumnail {	
		width: 100%;
		height: auto;
		border-radius: 10px;
	}
	
	.container #thumnail img {
		position: relative;
		vertical-align: middle;
		width: 100%;
	}

	.container #description {
		height: 0;
		visibility: hidden;
	}

}
/*
@media (max-width: 320px) {
	.visual {
		width: 100%;
		margin: 0 auto;
	}

	.visual h1 {
		font-size: 24px;
	}
}
*/


