body {
	color: #2F3743;
	font-family: 'Avenir';
	font-weight: 400;
	background-color: #ffffff;

}

body.show-leading::before {
	content: '';
	position: absolute;
	z-index: 10000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: linear-gradient(transparent 23px, hsla(0, 0%, 80%, 1) 23px);
	background-size: 1px 24px;
}


/* Contents */
#title h2 {
	margin: 0 auto;
	text-align: center;
	font-size: 36px;
	font-weight: 700;
	margin-top: 100px;
	margin-bottom: 30px;
}

#title .title_info {
	margin: 0 auto;
	text-align: center;
	font-weight: 400;
	margin-bottom: 80px;
	font-size: 18px;
	color: rgba(47,55,67,0.50);
	letter-spacing: 0;
	line-height: 20px;
}

#hero img {
	display: block;
	margin: 0 auto;
	width: 960px;
	height: 500px;
	padding-bottom: 60px;
/*	background-color: rgba(47,55,67,0.50);
*/}

#description {
	margin: 0 auto;
	width: 1000px;
/*	margin-top: 60px;
	margin-bottom: 60px;*/
}

#description h4 {
	width: 800px;
	margin: 0 auto;
	text-align: left;
	font-size: 30px;
	font-weight: 700;
	margin-top: 60px;
	margin-bottom: 40px;
}

#description h5 {
	width: 800px;
	margin: 0 auto;
	text-align: left;
	font-size: 20px;
	font-weight: 700;
	margin-top: 20px;
	margin-bottom: 40px;
	color: rgba(47,55,67,0.50);
}


#description p {
	width: 800px;
	margin: 0 auto;
	text-align: left;
	font-size: 20px;
	font-weight: 300;
	line-height: 2.0rem;
	padding-bottom: 60px;
}

#description img {
	display: block;
	margin: 0 auto;
	width: 1000px;
	padding-bottom: 60px;
}

#description .ui_image {
	display: block;
	margin: 0 auto;
	width: 1000px;
	padding-bottom: 0px
}


/* Pre & Next work arrow */

#description .pagemove {
	height: 100px;
	width: 800px;
	padding-right: 100px;
	padding-left: 100px;
	margin-top: 120px;
}

#description .pagemove a {
	/* style */
	display:inline-block;
	position: relative;
	border: none;
    background: none;
	margin: 0;
	width: 140px;
	height: 24px;
	text-align: left;	
	font-size: 16px;
	font-weight: 700;
	color: #2F3743;
	outline: 0;
	text-decoration: none;
}

#description .pagemove .btn_pre:hover,
#description .pagemove .btn_pre:focus,
#description .pagemove .btn_pre:active,
#description .pagemove .btn_next:hover,
#description .pagemove .btn_next:focus,
#description .pagemove .btn_next:active {
	color: #2A76FF;
	transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/*#description .pagemove a::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	border-bottom: 2px solid #2F3743;
	width: 0%;
	color: red;
	transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#description .pagemove a:hover::after,
#description .pagemove a:focus::after,
#description .pagemove a:active::after {
	width: 100%;
}

*/


#description .pagemove .btn_pre {
	float: left;
}


#description .pagemove .btn_pre img {
	margin-right: 10px;
	width: 14px;
	height: 14px;
	float: left;
}

#description .pagemove .btn_next {
	text-align: right;
	float: right;

}

#description .pagemove .btn_next img {
	margin-left: 10px;
	width: 14px;
	height: 14px;
	float: right;
}




