body {
	color: #495262;
	font-family: 'Avenir';
	font-weight: 400;
	background-color: rgba(230,232,234,0.2);

}

body.show-leading::before {
	content: '';
	position: absolute;
	z-index: 10000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: linear-gradient(transparent 23px, hsla(0, 0%, 80%, 1) 23px);
	background-size: 1px 24px;
}



/* visual */
.visual {
	margin: 0 auto;
	width: 960px;
	height: 800px;
}

.visual h1 {
	margin: 0px;
	padding-left: 10px;
	padding-top: 224px;
	padding-bottom: 40px;
	text-align: left;
	font-family: 'Avenir';
	font-weight: 900;
	font-size: 40px;
	letter-spacing: 0px;
	color: #495262;
}

.visual p {
	margin: 0px;
	padding-left: 10px;
	text-align: left;
	font-family: 'Avenir';
	font-weight: 400;
	font-size: 24px;
	line-height: 1.5;
	letter-spacing: 0px;
	color: #495262;
}


/* dribbble & behance */

.visual p .dribbble a {
	position: relative;
	font-weight: 700; 
	color: #FF4274;
    text-decoration: none;
}

.visual p .dribbble a::after {
	content: '';
  	position: absolute;
  	bottom: 0;
  	left: 0;
	border-bottom: 2px solid #FF4274; 
	width: 0%;
	transition: all 0.35s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.visual p .dribbble a:hover::after,
.visual p .dribbble a:focus::after,
.visual p .dribbble a:active::after {
	width: 100%;
}


.visual p .behance a {
	position: relative;
	font-weight: 700; 
	color: #2A76FF;
    text-decoration: none;
}

.visual p .behance a::after {
	content: '';
  	position: absolute;
  	bottom: 0;
  	left: 0;
	border-bottom: 2px solid #2A76FF; 
	width: 0%;
	transition: all 0.35s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.visual p .behance a:hover::after,
.visual p .behance a:focus::after,
.visual p .behance a:active::after {
	width: 100%;
}



.visual .scroll_down {
	margin-top: 120px;
	margin-left: 455px;
	margin-right: 455px;
}


.visual .scroll_down:hover,
.visual .scroll_down:focus,
.visual .scroll_down:active {
/*	opacity: 1;
	transform: translateX(0px) translateY(0px);
	transition: opacity 600ms cubic-bezier(0.645, 0.045, 0.355, 1), transform 500ms;"
*/	-webkit-animation: fade_move_down 1.2s ease-in-out infinite;
	-moz-animation:    fade_move_down 1.2s ease-in-out infinite;
	animation:         fade_move_down 1.2s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-12px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,12px); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-12px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,12px); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-12px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,12px); opacity: 0; }
}


.visual .scroll img {
	display: block;
	margin-top: 120px;
	margin-bottom: 80px;
	margin-left: 50%;
	width: 50px;
	height: 50px;
}



/*.visual .shade {
	position: absolute;
	width: 100%;
	height: 100vh;
	background-color: rgba(230,232,234,0.2);
}
*/



/*Container*/
.container {
	width: 960px;
	margin: 0 auto;
}

.container #work1, #work2, #work3, #work4{
	width: 960px;
	height: 500px;
	margin: 0 auto;
	margin-bottom: 50px;
	background-color: #fff;
    /*border: 1px solid rgba(73, 82, 98, 0);*/
    border-radius: 10px;
	box-shadow: rgba(73, 82, 98, 0.15) 0px 6px 40px 0px;
	/*text-align: center;
	line-height: 500px;*/
	color: #e6e8ea;
}

.container #thumnail {
	width: 540px;
	height: 500px;
	background-color: #d1d5d9;
    border-radius: 10px 0px 0px 10px;
    float: left;
}

.container #description {
	margin: 0;
	width: 420px;
	height: 500px;
	/*background-color: #333;*/
	float: left;
}

.container #description a {
	text-decoration: none;
}

.container #description h3 {
	padding-right: 50px;
	padding-left: 50px;
	margin-top: 55px;
	margin-bottom: 20px;
	width: 320px;
	height: 30px;
	color: #495262;
	font-family: 'Avenir';
	font-weight: 700;
	font-size: 30px;
	text-align: left;
}

.container #description h5 {
	padding-right: 50px;
	padding-left: 50px;
	margin-top: 0;
	margin-bottom: 30px;
	width: 320px;
	height: 20px;
	color: #495262;
	font-family: 'Avenir';
	font-weight: 300;
	font-size: 20px;
	text-align: left;
}

.container #description p {
	padding-right: 50px;
	padding-left: 50px;
	margin-top: 0;
	margin-bottom: 50px;
	width: 320px;
	height: 225px;
	color: #495262;
	font-family: 'Avenir';
	font-weight: 300;
	font-size: 20px;
	text-align: left;
	line-height: 32px;
}

.container #description .work_tag {
	padding-right: 50px;
	padding-left: 50px;
	width: 320px;
	height: 20px;
	color: #495262;
	font-family: 'Avenir';
	font-weight: 300;
	font-size: 20px;
	text-align: left;
	line-height: 32px;
}





